@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?6sv41x');
    src:  url('../fonts/icomoon.eot?6sv41x#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?6sv41x') format('truetype'),
      url('../fonts/icomoon.woff?6sv41x') format('woff'),
      url('../fonts/icomoon.svg?6sv41x#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

/* 导航 */
.fl {
    float: left;
}
.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even){
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px;
}

.arrow-icon::after {
    content: '\e91e';
    font-family: icomoon;
    margin-left: 6px;
}

/* 头部制作 */
.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}

.logo a{
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    /* font-size: 0px; 京东做法 */
    text-indent: -9999px;
    overflow: hidden;
}

.search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.search button {
    float: left;
    width: calc(100% - 454px);
    height: 32px;
    background-color: #b1191a;
    color: white;
    font-size: 16px;
}

.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}

.hotwords ul li {
    float: left;
    margin: 0px 10px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    line-height: 35px;
    text-align: center;
}

.shopcar a{
    display: block;
    width: 140px;
    height: 35px;
}

.shopcar a::before{
    content: '\e93a';
    font-family: 'icomoon';
    margin-right: 5px;
    color: #c81623;
}

.shopcar a::after{
    content: '\e920';
    font-family: 'icomoon';
    margin-left: 5px;
}

.count {
    position: absolute;
    left: 105px;
    top: -5px;
    height: 14px;
    color: white;
    background-color: #c81623;
    padding: 0 5px;
    line-height: 14px;
    border-radius: 7px 7px 7px 0;
}

/* 导航部分 */
.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
    color: white;
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}

.dropdown .dd {
    width: 100%;
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 13px;
}

.dropdown .dd ul li::after{
    position: absolute;
    top: 1px;
    right: 10px;
    content: '\e920';
    font-family: 'icomoon';
    color: white;
    font-size: 14px;
}

.dropdown .dd ul li:hover {
    background-color: white;
}

.dropdown .dd ul li a {
    font-size: 14px;
    color: white;
}

.dropdown .dd ul li:hover a {
    color: #c81623;
}

.nav .navitems {
    float: left;
}

.navitems ul li {
    float: left;
}

.navitems ul li a{
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 25px;
}

.footer {
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.footer .mod_service{
    height: 80px;
}

.mod_service ul li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 35px;
}

.mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.mod_service ul li:first-child h5{
    background: url(../images/icons.png) no-repeat -252px -2px;
}

.mod_service ul li:nth-child(2) h5{
    background: url(../images/icons.png) no-repeat -254px -53px;
}

.mod_service ul li:nth-child(3) h5{
    background: url(../images/icons.png) no-repeat -256px -105px;
}

.mod_service ul li:nth-child(4) h5{
    background: url(../images/icons.png) no-repeat -258px -156px;
}

.mod_service ul li:last-child h5{
    background: url(../images/icons.png) no-repeat -258px -209px;
}

.service_txt h4 {
    font-size: 14px;
}

.service_txt p {
    font-size: 12px;
}

.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 25px;
    padding-left: 50px;
}

.mod_help dl {
    float: left;
    width: 200px;
}

.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}

.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}

.mod_copyright {
    text-align: center;
    padding-top: 20px;
}

.links {
    margin-bottom: 15px;
}

.links a {
    margin: 0 3px;
}

.copyright {
    line-height: 20px;
}