.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid #c81623;
}

.logo {
    padding-top: 18px;
}

.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.registerarea h3 {
    height: 42px;
    background-color: #ececec;
    border-bottom: 1px solid #ccc;
    line-height: 42px;
    padding:0 10px;
    font-size: 18px;
    font-weight: 400;
}

.login {
    float: right;
    font-size: 14px;
}

.login a {
    color: #c81623;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
    color: #000;
}

.reg_form ul li .inp {
    width: 242px;
    height: 32px;
    border: 1px solid #ccc;
    font-size: 20px;
}

.error {
    color: #c81623;
    margin-left: 20px;
}

.error_icon,
.success_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../images/error.png) no-repeat;
    margin-top: -2px;
}

.success {
    color: green;
    margin-left: 20px;
}

.success_icon {
    background: url(../images/success.png) no-repeat;
}

.safe {
    margin-left: 165px;
}

.safe em {
    padding: 0 12px;
    color: white;
}

.safe em:nth-child(1){
    background-color: #de1111;
}

.safe em:nth-child(2){
    background-color: #40b83f;
}

.safe em:nth-child(3){
    background-color: #f79100;
}

.agree {
    padding-left: 95px;
}

.agree input {
    vertical-align: middle;
}

.agree a {
    color: #c81623;
}

.btn {
    width: 200px;
    height: 34px;
    background-color: #c81623;
    color: white;
    font-size: 14px;
    margin: 30px 0 0 70px;
}

.mod_copyright {
    text-align: center;
    padding-top: 20px;
}

.links {
    margin-bottom: 15px;
}

.links a {
    margin: 0 3px;
}

.copyright {
    line-height: 20px;
}